@import '~/bootstrap/scss/functions';
@import '@/assets/style/helpers/variables';
@import '~/bootstrap/scss/bootstrap';

@import '~/bootstrap-icons/font/bootstrap-icons.min.css';

@import 'sweetalert2/src/sweetalert2.scss';
@import '@sweetalert2/theme-minimal/minimal.scss';

@import '@/assets/style/helpers/swiper';

.swal2-container{
  z-index: 10000;
}

.productBadge {
  border: 1px solid gray;
  color: gray;
  font-size: 0.75rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
  vertical-align: middle;
  margin: 0px;
}

.productBadge.secondaryOutlineBadge {
  border: 1px solid var(--bs-secondary);
  color: var(--bs-secondary);
}

.productBadge.secondaryBadge {
  border: 0px;
  background-color: var(--bs-secondary);
  color: var(--bs-white);
}

.productBadge.grayBadge {
  border: 0px;
  background-color: #8f9091;
  color: var(--bs-white);
}

.swal2-container.swal2-top-end{
  padding-top: 80px;
}

.swal2-toast .swal2-warning{
  padding-left: 0.25rem;
}